body{
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    border: 22px solid rgb(255, 255, 255);
}

p{
    text-align: center;
}

.teknik{
    text-align: right;
}

.kursen{
    border: 22px solid crimson;
}

.mig{
    border: 22px solid white;
}
   

