body{  /*Påverkar ett HTML element*/
    background-color: slategray; /*Påverkar sidans bakgrundsfärg*/
    color: aliceblue; /*Text färgen*/
    display: grid;  /*Lägger till en grid*/
    grid-template-rows: 80px 50px auto 50px; /*anger storlek på rader*/
    grid-template-columns:1fr 1fr; /*skapar columner*/
    grid-template-areas: /*berätta vad alla grid delar heter*/
    "header header"
    "nav nav"
    "main aside"
    "footer footer"; /*namn på grid delar*/
   

}



header{  /*sidhuvud*/
    grid-area:header; /*anger vilken grid*/
    background-color:black; /*grid färgen*/
    color:whitesmoke /*text färg*/
    
}
h1{
    text-align: center; /*rubrikens text blir centererat*/
}

a{
    text-align:center; 
}

nav{
    grid-area:nav; /*anger vilken grid*/
    text-align:center; 
    
    
   
}

nav ul{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 0; /*innermarginal*/
    


}

nav li{
    list-style-type:none;
    border: 5px;
    border-radius: 5px;
    color:black;  /*ger min border en färg*/
    
}
main{
    grid-area: main;
}


th,td,tr{
    width: 50%;
    padding: 20px;
    
}
table{
    border-spacing: 0px;
}
th:nth-child(1){
    text-align: left;
}


td:nth-child(2){
    text-align: center;
}

td:nth-child(3){
    text-align: center;
}

td:nth-child(4){
    text-align: left;
}

li:nth-child(1){
    border: 1px solid;
}
li:nth-child(2){
    border: 1px solid;
}
li:nth-child(3){
    border: 1px solid;
}

tr:nth-child(2){
    background-color:black; ;
}

tr:nth-child(4){
    background-color: black;

}
thead:nth-child(1){
    background-color: black;
}

main img{
    width:"950";
}

#egenkod2{
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#egenkod2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#egenkod2 p{
    font-size: 20px;
    text-align: center;
    
    
}
#egenkod2 h2{
    text-align: center;
    font-size: 30px;
}
#egenkod2 h3{
    text-align: center;
    font-size: 30px;
}


    

