body{
    background-color: slategray;
    color: aliceblue;
    display: grid; 
    grid-template-rows: 80px 50px auto 50px;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
   

}



header{
    grid-area:header;
    background-color:black;
    color:whitesmoke
    
}
h1{
    text-align: center;
}

a{
    text-align:center;
}

nav{
    grid-area:nav;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    color:black;
   
}

nav ul{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 0;
    


}

nav li{
    list-style-type:none;
    border: 5px;
    border-radius: 5px;
    
}
main{
    grid-area: main;
}


th,td,tr{
    width: 50%;
    padding: 20px;
    
}
table{
    border-spacing: 0px;
}
th:nth-child(1){
    text-align: left;
}


td:nth-child(2){
    text-align: center;
}

td:nth-child(3){
    text-align: center;
}

td:nth-child(4){
    text-align: left;
}

li:nth-child(1){
    border: 1px solid;
}
li:nth-child(2){
    border: 1px solid;
}
li:nth-child(3){
    border: 1px solid;
}

tr:nth-child(2){
    background-color:black; ;
}

tr:nth-child(4){
    background-color: black;

}
thead:nth-child(1){
    background-color: black;
}

main img{
    width:"950";
}

#egenkod2{
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#egenkod2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#egenkod2 p{
    font-size: 20px;
    text-align: center;
    
    
}
#egenkod2 h2{
    text-align: center;
    font-size: 30px;
}
#egenkod2 h3{
    text-align: center;
    font-size: 30px;
}



