body{
    background-color: slategray;
    color: aliceblue;
    display: grid; 
    grid-template-rows: 60px 60px auto 50px;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
   

}



header{
    grid-area:header;
    background-color:whitesmoke;
    color:black
    
}
h1{
    text-align: center;
}

a{
    text-align:center;
}

nav{
    grid-area:nav;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    color:black;
    background-color:whitesmoke;
}

nav ul{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;


}

nav li{
    list-style-type:none;
}

table{
   
}

body,th,td,tr{
    
    width: 25%;
}
table{
    border-spacing: 0px;
}
th:nth-child(1){
    text-align: left;
}


td:nth-child(2){
    text-align: center;
}

td:nth-child(3){
    text-align: center;
}

td:nth-child(4){
    text-align: left;
}
